PLAID_CLIENT_ID=
PLAID_SECRET=
PLAID_ENV=sandbox
DATABASE_URL=postgresql://myuser:mypassword@db:5432/dev
DATABASE_URL_TEST=postgresql://myuser:mypassword@db:5432/test 
SECRET_KEY=
SIGNING_ALGORITHM=HS256 
GOOGLE_AUTH_CLIENT_ID=
GOOGLE_AUTH_CLIENT_SECRET=
MICROSOFT_AUTH_CLIENT_ID=
MICROSOFT_AUTH_CLIENT_SECRET=
