.login-page {
  display: grid;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.login-card {
  background-color: darkgrey;
  padding: 1rem;
}

.alt-auth-methods {
  list-style-type: none;
  background-color: gray;
}
